<script lang="ts">
  import { display } from "mathlifier";
  import type { equation, expression } from "$lib/math.ts";
  import { render_eq, add_to_eq, multiply_eq, divide_eq, simplify_eq } from "$lib/math";
  import * as mathjs from "mathjs";

  let ex: equation = {
    LHS: ["3", "*", "x", "+", "10"],
    RHS: ["2"],
  };

  let to_be_added: number = 0;
  let to_be_multiplied: number = 1;
  let to_be_divided: number = 1;

  let eq: string;
  $: eq = render_eq(ex);

  function add(number: number) {
    let str = number.toString();
    add_to_eq(str, ex);
    eq = render_eq(ex);
  }

  function multiply(number: number) {
    let str = number.toString();
    multiply_eq(str, ex);
    eq = render_eq(ex);
  }

  function divide(number: number) {
    let str = number.toString();
    divide_eq(str, ex);
    eq = render_eq(ex);
  }

  function simplify() {
    ex = simplify_eq(ex);
    eq = render_eq(ex);
  }
</script>

<h1>Eqmanip</h1>

<p>
  {@html display(`${eq} `)}
</p>


<div class="container">
  <div class="child">
    <button on:click={simplify}>Simplify</button>
  </div>

  <div class="child">
    <input type="number" bind:value={to_be_added} />
    <button
      on:click={() => {
        add(to_be_added);
      }}>Add to eq</button
    >
    <button
    on:click={() => {
      add(to_be_added); simplify();
    }}>Add and simplify</button
  >
  </div>

  <div class="child">
    <input type="number" bind:value={to_be_multiplied} />
    <button
      on:click={() => {
        multiply(to_be_multiplied);
      }}>Multiply eq</button
    >
    <button
    on:click={() => {
      multiply(to_be_multiplied); simplify();
    }}>Multiply and simplify</button
  >
  </div>


  <div class="child">
    <input type="number" bind:value={to_be_divided} />
    <button
      on:click={() => {
        divide(to_be_divided);
      }}>Divide eq</button
    >
    <button
    on:click={() => {
      divide(to_be_divided); simplify();
    }}>Divide and simplify</button
  >
  </div>

</div>



<p>
  See the <a href="https://gitlab.com/jindrx/eqmanip">repo</a>!
</p>

<style>
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .child {
    margin-top: 1em;
  }
</style>
